rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Open access for class 6A2 authenticated & guest classroom community members
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
